# Базовая конфигурация приложения
replicaCount: 2

image:
  repository: localhost:32000/my-app  # Для локального registry MicroK8s
  tag: latest
  pullPolicy: IfNotPresent

env:
  GIT_COMMIT: "unknown"

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "128Mi"
    cpu: "200m"

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  className: "public"
  hosts:
    - host: my-app.local
      paths:
        - path: /
          pathType: Prefix

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
